APIAutomationFWJavaRestAssured/test-output/
APIAutomationFWJavaRestAssured/allure-results/
APIAutomationFWJavaRestAssured/target/
.allure
/allure-results
src/test/java/com/restassured/login
test-output