<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="zBoxMicroBank">
  <test name="typeOfAccount">
    <classes>
      <class name="zBoxMicroBank.typeOfAccount.AccountTypesTestClass"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
